extends layout 
block content 
  main
    div.container
      if user
        form.bg-color.p-5.rounded(form='' method='POST')
          h1 Create a New Message
          label.form-label(for='title') Title: 
          input#title.form-control(type='text' name='title' required='true')
          label.form-label(for='message') Message: 
          textarea#message.form-control(name= 'message' required='true' style='resize: none')
          div.d-flex.justify-content-center.mt-4  
            button.btn.btn-outline-light(type='submit') Post message
      else
        p Please login