extends layout 
block content 
  if user
    form(form='' method='POST')
      label(for='title') Title: 
      input#title(type='text' name='title' required='true')
      label(for='message') Message: 
      textarea#message(name= 'message' required='true')
      button(type='submit') Post
  else
    p Please login