extends layout
block content 
  main
    div.container
      h1 Login
      form(form='' method='POST')
        div.form-floating.mb-3
          input.form-control#username(type='text' name='username' required='true' placeholder='Username')
          label.form-label(for='username') Username 
        div.form-floating.mb-3
          input.form-control#password(type='password' name='password' required='true' placeholder='Password')
          label.form-label(for='password') Password
        if messages
          p.text-danger= messages
        div.d-flex.justify-content-center
          button.btn.text-white.btn-sm.text-center(type='submit' style="background-color: #984fd4") Sign in
    div.container.d-flex.justify-content-center.mt-4
      p Don't have an account? 
        a(href='/sign-up')
          span Sign up
        span  here!