body {
  font-family: 'Didact Gothic', sans-serif;
}

nav.navbar {
  background-color: #984fd4
}

.white {
  color: white;
}

.color {
  color: #984fd4;
}

.bg-color {
  background-color: #984fd4;
  color: white;
}

.msg-container {
  border: 1px solid #984fd4;
}